body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
font-size: 50px;

}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.just-banaer{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    

}
section{
    height: 500px;
}

.link-button{
text-decoration: none;
background-color: rgba(255, 68, 0, 0.507);
padding: 10px 20px;
border-radius: 5px;
color: white;
font-weight: 700;
}